@import 'tailwindcss';

@plugin '@tailwindcss/forms';

@config '../tailwind.config.js';

@theme {
    --animate-fade-in: fadeIn 400ms cubic-bezier(0.16, 1, 0.3, 1);
    --animate-slide-up: slideUp 400ms cubic-bezier(0.16, 1, 0.3, 1);
    --animate-slide-down: slideDown 400ms cubic-bezier(0.16, 1, 0.3, 1);
    --animate-slide-up-fade: slideUpFade 400ms cubic-bezier(0.16, 1, 0.3, 1);
    --animate-slide-down-fade: slideDownFade 400ms cubic-bezier(0.16, 1, 0.3, 1);
    --animate-slide-left-fade: slideLeftFade 400ms cubic-bezier(0.16, 1, 0.3, 1);
    --animate-slide-right-fade: slideRightFade 400ms
        cubic-bezier(0.16, 1, 0.3, 1);
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentcolor);
    }
}

@utility gutters {
    @apply px-16;
}
@utility bg-dotted {
    background-image: radial-gradient(var(--color-white) 8%, transparent 10%),
        radial-gradient(var(--color-white) 8%, transparent 10%);
    background-size: 40px 40px;
    background-position:
        W 0 0,
        60px 60px;
    background-color: var(--color-accent);

    animation-name: backgroundmovement;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@layer utilities {
    [type='checkbox'],
    [type='radio'] {
        color: var(--color-primary);
    }

    html {
        @apply text-dark min-h-fit scroll-smooth bg-white text-base;
    }

    body {
        margin: 0 !important;
        padding: 0;
        height: fit-content;
    }

    body * {
        box-sizing: border-box;
    }
}

@keyframes backgroundmovement {
    0% {
        background-position:
            0px 0px,
            60px 60px;
    }
    100% {
        background-position:
            60px 60px,
            120px 120px;
    }
}

* {
    scrollbar-width: auto;
    scrollbar-color: var(--color-primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    height: 2px;
    width: 4px;
}

*::-webkit-scrollbar-track {
    background: none;
}

*::-webkit-scrollbar-thumb {
    @apply bg-primary;
    border-radius: 20px;
    height: 150px;
}

/* Components default animations */

@keyframes slideDown {
    from {
        height: 0;
    }
    to {
        height: var(--reka-collapsible-content-height);
    }
}

@keyframes slideUp {
    from {
        height: var(--reka-collapsible-content-height);
    }
    to {
        height: 0;
    }
}

@keyframes slideUpFade {
    from {
        opacity: 0;
        transform: translateY(4px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes slideDownFade {
    from {
        opacity: 0;
        transform: translateY(-4px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes slideLeftFade {
    from {
        opacity: 0;
        transform: translateX(4px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slideRightFade {
    from {
        opacity: 0;
        transform: translateX(-4px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.collapse-icon-enter-active,
.collapse-icon-leave-active {
    transition: all 0.2s cubic-bezier(0.16, 1, 0.3, 1);
    rotate: 0;
    opacity: 1;
}

.collapse-icon-enter-from {
    transform: translateY(-20px);
}

.collapse-icon-leave-to {
    transform: translateY(20px);
}
