name: Build and Release

on:
    push:
        branches:
            - main

jobs:
    release:
        runs-on: ubuntu-latest
        environment: NPM_TOKEN
        permissions:
            contents: write
            id-token: write

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 24.x
                  registry-url: 'https://registry.npmjs.org'

            - name: Update npm
              run: npm install -g npm@latest

            - name: Install dependencies
              run: npm ci

            - name: Build package
              run: npm run build

            - name: Build Types
              run: npm run build:types

            - name: Bump version
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: |
                  git config user.name "GitHub Actions"
                  git config user.email "actions@github.com"
                  git add .
                  git diff-index --quiet HEAD || git commit -m "Release version - update dependencies [ci skip]"
                  npm version patch -m "Release version %s [ci skip]"
                  git push origin main --follow-tags

                  # Extract the new version (e.g., 1.2.3)
                  VERSION=$(npm pkg get version | tr -d '"')

                  # Create a branch for the new version
                  git checkout -b release/v$VERSION
                  git push origin release/v$VERSION

            - name: Publish to npm
              run: npm publish --access=public --provenance
